@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.page {
    min-width: 250px;
    @apply h-screen pt-16 p-2 bg-zinc-200 bg-gradient-to-t from-zinc-300 dark:bg-zinc-900 dark:from-zinc-950
}
.dropDownMenu.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropDownMenu.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    height: 0;
}
