@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.page {
    min-width: 250px;
    @apply h-screen pt-16 p-2 bg-zinc-200 bg-gradient-to-t from-zinc-300 dark:bg-zinc-900 dark:from-zinc-950
}
.dropDownMenu.active{
    opacity: 1;
    visibility: visible;
    transform: translatex(0);
    height: 100vh;
}

.dropDownMenu.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateX(30px);
    height: 0;
}
.pageOverlay.active {
    opacity: 0.5;
    visibility: visible;
}
.pageOverlay.inactive {
    opacity: 0;
    /* height: 0; */
    visibility: hidden;
}

/* width */
::-webkit-scrollbar { 
	width: 10px; 
    
} 

/* Track */
::-webkit-scrollbar-track { 
	background: #374151; 
} 

/* Handle */
::-webkit-scrollbar-thumb { 
	background: #4b5563; 
	border-radius: 5px; 
} 

/* Handle on hover */
::-webkit-scrollbar-thumb:hover { 
	background: #6b7280; 
}